#title
  %h1
    %center
      Hi!  My name is Paul.
      %br
      This is my website.

#label
  %center
    = image_tag("paul.jpg")
    %br
    %strong Paul Boland - what a guy

#likes
  %center
    I like lots of things.
    %li
      %strong Woodworking
    %li
      %strong Hunting
    %li
      %strong Fishing
    %li
      %strong Firefighting
    %li
      %strong Growing facial hair
    %li
      %strong Most of the time my wife and kids
    %li
      %strong Futzing in the garage